.custom-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .card-img-top {
    object-fit: contain; /* Ensures the entire image is displayed without cropping */
    height: 180px; /* Adjust the height as needed */
  }  